<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.sfernandez.raceyourtrack">

    <!-- Bluetooth's permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--  -->

    <application
        android:name=".RaceYourTrackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaceYourTrack">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RaceYourTrack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app_error_handling.FatalAppErrorActivity"
            android:theme="@style/Theme.RaceYourTrack"/>

        <activity
            android:name=".bluetoothConnection.BluetoothActivity"
            android:theme="@style/Theme.RaceYourTrack"/>

        <activity
            android:name=".carController.CarControllerActivity"
            android:label="@string/free_ride"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.RaceYourTrack">
        </activity>

        <activity
            android:name=".garage.GarageActivity"
            android:label="@string/garage"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RaceYourTrack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>